---
import { Image } from "@astrojs/image/components";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";

const people = [
  {
    name: "Mads Kappel Mikkelsen",
    title: "Indehaver",
    phone: "+45 25 12 01 66",
    email: "mads@praegstudio.dk",
    image: "/people/mads.jpg",
  },
  {
    name: "Laura Lund Kjergaard",
    title: "PA for indehaver Mads",
    phone: "+45 25 12 00 93",
    email: "laura@praegstudio.dk",
    image: "/people/laura.jpg",
  },
  {
    name: "Martin Elnegaard Hansen",
    title: "Arkitekt, Cand.arch.",
    phone: "+45 30 28 62 56",
    email: "martin@praegstudio.dk",
    image: "/people/martin.jpg",
  },
  {
    name: "Vicki Lundgaard",
    title: "Arkitekt, Cand.arch.",
    phone: "+45 31 72 67 70",
    email: "vicki@praegstudio.dk",
    image: "/people/vicki.jpg",
  },
  {
    name: "Frank Schmidt",
    title: "Bygningskonstruktør",
    phone: "+45 25 32 50 03",
    email: "frank@praegstudio.dk",
    image: "/people/frank.jpg",
  },
  {
    name: "Andreas Frederiksen",
    title: "Bygningskonstruktør",
    phone: "+45 22 51 21 30",
    email: "andreas@praegstudio.dk",
    image: "/people/andreas.jpg",
  },
];
---

<Layout title="Kontakt Præg Studio">
  <div class="my-12">
    <div
      class="md:grid space-y-4 md:space-y-0 grid-cols-3 gap-12 2xl:grid-cols-4"
    >
      <div class="col-span-2 space-y-4">
        <h1 class="text-4xl uppercase tracking-wider mb-6">Præg Studio</h1>
        <p class="font-garamond text-xl">
          Præg Studio, beliggende i Silkeborg, er stiftet af Mads Kappel
          Mikkelsen i 2015. Præg Studio yder rådgivning fra idéer og visioner,
          til realiserbare skitser og arbejdstegninger. Vi arbejder med alt fra
          mindre tilbygninger og ombygninger, villaer og sommerhuse, til
          komplekse byggerier og bygningstransformationer.
        </p>
        <p class="font-garamond text-xl">
          Med udgangspunkt i kundernes drømme og økonomi, ser vi det som vores
          fornemste opgave at omsætte ambitionerne til arkitektoniske,
          funktionelle og langtidsholdbare løsninger af høj kvalitet.
        </p>
        <p class="font-garamond text-xl">
          Tegnestuen som er i stadig vækst, har i dag 7 ansatte og byggeopgaver
          over hele landet. Udover at drive tegnestuen, medvirker Mads Mikkelsen
          som ”arkitekt/ekspert” i boligprogrammet “Boligkøb i blinde“.
        </p>
      </div>
      {
        people.map((person, index) => (
          <div class={`flex flex-col ${index < 1 && "col-start-1"}`}>
            <Image
              src={person.image}
              alt={person.name}
              width={640}
              aspectRatio={0.71}
              format="webp"
            />
            <h4 class="mt-2 font-medium">{person.name}</h4>
            <em class="font-garamond mb-2 text-sm">{person.title}</em>
            {person.phone && (
              <a
                href={`tel:${person.phone.split(" ").join("")}`}
                class="text-sm"
              >
                {person.phone}
              </a>
            )}
            <a href={`mailto:${person.email}`} class="text-sm">
              {person.email}
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
